/* debug */

.debug_height {
    min-height: 500px;
    border: dashed 3px red;
}

.debug_height_2 {
    height: 100px;
    background-color: green;
    margin-bottom: 1rem;
    border: dashed 3px blue;
}

.sottotitolo {
    height: 50px;
    background-color: red;
    
}

.margin_top {
    margin-top: 4rem;
}
/* fine debug */

:root {
    --header-col: #314050;
    --about-col: #17bc9d;
    --footer-top: #3c5267;
    --footer-bot: #314050;
    --white: #fff;
}

.ms_bg_c {
    background-color: var(--header-col);
}

.ms_color {
    color: var(--white);
}

#about {
    background-color: var(--about-col);
}

.footer_top {
    background-color: var(--footer-top);
    color: var(--white);
}

.footer_bottom {
    background-color: var(--footer-bot);
    color: var(--white);
}