/* debug */

.debug_height {
    min-height: 500px;
    border: dashed 3px red;
}

.debug_height_2 {
    height: 100px;
    background-color: green;
    margin-bottom: 1rem;
    border: dashed 3px blue;
}

.sottotitolo {
    height: 50px;
    background-color: red;
    
}

.margin_top {
    margin-top: 4rem;
}
/* fine debug */

:root {
    --header-col: #314050;
    --about-col: #17bc9d;
    --footer-top: #3c5267;
    --footer-bot: #314050;
    --white: #fff;
}

#jumbo {
    background-color: var(--about-col);
}

.image {
    max-width: 600px;
    margin: auto;
}
.image img {
    width: 100%;
}

.image h1 {
    color: var(--white);
    font-weight: bolder;
}

.ms_white {
    color: white;
    font-size: 2rem;
}

.ms_b_white {
    background-color: var(--white);
    width: 70px;
    height: 5px;
    border-radius: 5px;
}
.ms_bg_c {
    background-color: var(--header-col);
}

.ms_color {
    color: var(--white);
}

.ms_types {
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}
.ms_filter {
 filter: invert(1);
}

.ms_border {
    border: 1px solid white;
}

#about {
    background-color: var(--about-col);
}

.footer_top {
    background-color: var(--footer-top);
    color: var(--white);
}

.footer_bottom {
    background-color: var(--footer-bot);
    color: var(--white);
}