/* debug */

.debug_height {
    min-height: 500px;
    border: dashed 3px red;
}

.debug_height_2 {
    height: 100px;
    background-color: green;
    margin-bottom: 1rem;
    border: dashed 3px blue;
}

.sottotitolo {
    height: 50px;
    background-color: red;
    
}

.margin_top {
    margin-top: 4rem;
}
/* fine debug */

:root {
    --header-col: #314050;
    --about-col: #17bc9d;
    --footer-top: #3c5267;
    --footer-bot: #314050;
    --white: #fff;
    --ms_dark-blue: #3a3a3a;
}

#jumbo {
    background-color: var(--about-col);
}

.image {
    max-width: 400px;  
}

.ms_star_line {
    width: 70px;
    height: 5px;
    border-radius: 5px;
}

.ms_dark-blue {
    color: var(--ms_dark-blue);
}

.ms_bg-dark-blue {
    background-color: var(--ms_dark-blue);
}

.ms_bg_c {
    background-color: var(--header-col);
}


.ms_filter {
 filter: invert(1);
}

#about {
    background-color: var(--about-col);
}

.footer_top {
    background-color: var(--footer-top);
    color: var(--white);
}

.footer_bottom {
    background-color: var(--footer-bot);
    color: var(--white);
}